@font-face {
  font-family: 'typicons';
  src: url("fonts/typicons/font/typicons.eot");
  src: url("fonts/typicons/font/typicons.eot?#iefix") format('embedded-opentype'),
       url("fonts/typicons/font/typicons.woff") format('woff'),
       url("fonts/typicons/font/typicons.ttf") format('truetype'),
       url("fonts/typicons/font/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}