{{#if type}}
<div class="dialog dialog--{{type}}">
    <div class="dialog__icon">
		<span class="typcn typcn-{{type}}-outline"></span>
    </div>
	{{#if message }}
		<p>{{message}}</p>
	{{/if}}
</div>
{{/if}}